@include media-queries(xsmall) {
    .about {
        display: flex;
        padding: 10vh;
        color: white;
        box-shadow: inset 0 0 15px #c0cec2; //sprawdzic

        & .about__profilePic {
            object-fit: cover;
            height: 15vh;
            width: 15vh;
            border-radius: 50%;
        }

        & .about__details {
            display: flex;
            flex-direction: column;
            margin-left: 10vw;
            line-height: 1.1rem;
            font-size: .5rem;
        }
    }
}

@include media-queries(small) {
    .about {
        // margin: 1.5rem;

        & .about__profilePic {
            height: 25vh;
            width: 25vh;
        }

        & .about__details {
            line-height: 1rem;
        }
    }
}

@include media-queries(large) {
    .about {
        display: flex;
        padding: 15vh 15vh 15vh 25vh;
        color: white;
        font-size: 20px;

        & .about__profilePic {
            object-fit: cover;
            height: 30vh;
            width: 30vh;
            border-radius: 50%;
        }

        & .about__details {
            display: flex;
            flex-direction: column;
            margin-left: 10vw;
            font-size: .8rem;
            line-height: 2.2rem;
        }
    }
}

.about.white {
    background-color: $second-main-font-color--white;
    color: $first-main-font-color--white;
    transition: .7s;
}

.about.black {
    background-color: $third-main-color--dark;
    color: $first-main-color--dark;
    transition: .7s;
}