$first-main-color:rgb(255, 255, 255);
$second-main-color:rgb(255, 255, 255);
$third-main-color:rgba(59, 58, 59, 0.85);

$first-main-font-color:rgb(54, 152, 48);
$second-main-font-color:rgb(13, 235, 61)