//white theme
$first-icon-color--white:rgb(189, 55, 55);
$first-icon-colorHover--white:rgb(87, 68, 68);

$first-font-color--white:black;

$first-background-color--white:#F5F5F5;

//dark theme
$first-icon-color--black:rgb(55, 113, 189);
$first-icon-colorHover--black:rgb(63, 80, 110);

$first-font-color--black:white;

$first-background-color--black:#212121;



//-------------------------------------------------------------------

//dark theme
$first-main-color--dark:rgb(73, 100, 150);

$third-main-color--dark:rgba(29, 28, 29, 0.919);
$first-main-font-color--black:rgb(255, 253, 253);

$first-main-color:rgb(255, 255, 255);
$second-main-color:rgb(255, 255, 255);
$third-main-color:rgba(59, 58, 59, 0.85);
$second-main-font-color:rgb(13, 235, 61);

// white theme
$first-main-color--white:rgb(114, 214, 136);
$second-main-font-color--white:rgb(255, 255, 255);
$third-main-color--white: rgba(145, 83, 121, 0.631);

$first-main-font-color--white:rgb(143, 109, 57);

//
$first-main-font-color:rgb(0, 0, 0);

//.F5F5F5