//white theme
$first-icon-color--white:rgb(189, 55, 55);
$first-icon-colorHover--white:rgb(87, 68, 68);
$second-icon-colorHover--white:rgb(0, 0, 0);
$first-font-color--white:rgb(82, 82, 82);
$second-font-color--white:rgb(196, 194, 194);
$first-background-color--white:#F5F5F5;
$second-background-color--white:#85a996;

//dark theme
$first-icon-color--black:rgb(55, 113, 189);
$first-icon-colorHover--black:rgb(63, 80, 110);
$second-icon-colorHover--black:rgba(140, 201, 223, 0.638);
$first-font-color--black:white;
$second-font-color--black:#424242;
$first-background-color--black:#212121;