@include media-queries(xsmall) {
    .footer {
        position: relative;
        color: #fff;
        display: flex;
        flex-direction: column;

        .footer_arrow {
            position: absolute;
            top: -25px;
            right: 10px;
            color: #fff;

            & img {
                margin-right: .1rem;
            }

            & p {
                text-align: left;
                margin: .7rem;
            }

            .arrow__icon {
                transform: rotate(-90deg);
                width: 5rem;
                transition: .7s;
            }

            .arrow__icon:hover {
                opacity: .5;
            }
        }

        .MuiSvgIcon-root {
            border: 1px solid !important;
            border-radius: 50% !important;
            font-size: 50px !important;
        }

        .footer__icons {
            text-align: center;
            padding: 10px;

            .githubIcon,
            .facebookIcon {
                color: rgb(136, 136, 136);
                font-size: 35px !important;
                transition: .7s;
                border: none !important;
                margin-left: 10px;
            }

            .githubIcon:hover,
            .facebookIcon:hover {
                color: white;
            }
        }

        .footer__copyright {
            margin-top: .3rem;
            font-size: .7rem;
            text-align: center;
            padding: 10px;
        }

        .footer__reactIcon {
            display: flex;
            margin-top: .3rem;
            margin-left: 50%;

            & img {
                width: 1.2rem;
            }

            & p {
                text-align: left;
                margin: .7rem;
            }
        }
    }
}

@include media-queries(large) {
    .footer {
        position: relative;
        background-color: rgb(4, 4, 4);
        color: #fff;
        display: flex;
        flex-direction: column;
        width: 100%;

        .footer_arrow {
            position: absolute;
            top: -25px;
            right: 10px;
            color: #fff;

            & img {
                margin-right: 5rem;
            }

            .arrow__icon {
                transform: rotate(-90deg);
                width: 5rem;
                transition: .7s;
            }

            .arrow__icon:hover {
                opacity: .5;
            }
        }

        .MuiSvgIcon-root {
            border: 1px solid !important;
            border-radius: 50% !important;
            font-size: 50px !important;
        }

        .footer__icons {
            text-align: center;
            padding: 10px;

            .githubIcon,
            .facebookIcon {
                color: rgb(136, 136, 136);
                font-size: 35px !important;
                transition: .7s;
                border: none !important;
                margin-left: 10px;
            }

            .githubIcon:hover,
            .facebookIcon:hover {
                color: white;
            }
        }

        .footer__copyright {
            text-align: center;
            padding: 10px;
        }

        .footer__reactIcon {
            display: flex;
            margin-top: .3rem;
            margin-left: 50%;

            & img {
                width: 1.2rem;
            }

            & p {
                text-align: left;
                margin: .7rem;
            }
        }
    }
}

.footer.white {
    border-top: 1px solid $first-main-font-color--white;
    background-color: $second-main-font-color--white;
    color: $third-main-color--white;
    transition: .7s;
}

.footer.black {
    border-top: 1px solid $third-main-color--dark;
    background-color: $third-main-color--dark;
    color: $first-main-color--dark;
    transition: .7s;
}