@include media-queries(xsmall) {
    .PortfolioItem {
        border-radius: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2vh;
        background-color: $third-main-color;
        color: black;

        & img {
            border-radius: 22px;
            object-fit: cover;
            width: 100%;
            overflow: hidden;
            transition: .7s;
        }

        & img:hover {
            opacity: .7;
            transform: scale(.98);
        }

        & a {
            color: white;
            text-decoration: none;
            text-align: center;
            transition: .7s;
        }

        & a:hover {
            transform: scale(.95);
        }

    }
}

@include media-queries(large) {
    .porfolio__myWorkContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap !important;

        .PortfolioItem {
            border-radius: 22px;
            margin-left: 8vw;
            margin-right: 8vw;
            margin-bottom: 5vh;
            background-color: $third-main-color;
            width: 33%;
            color: black;

            & img {
                border-radius: 22px;
                object-fit: cover;
                width: 100%;
                overflow: hidden;
                transition: .7s;
            }

            & img:hover {
                opacity: .7;
                transform: scale(.98);
            }

            & a {
                color: white;
                text-decoration: none;
                text-align: center;
                transition: .7s;
            }

            & a:hover {
                transform: scale(.95);
            }
        }
    }

}