@include media-queries(xsmall) {
    .portfolio {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: rgb(38, 37, 37);
        color: white;
        font-size: 20px;

        & .portfolio__title {
            margin: 5vh;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
        }

        & .porfolio__myWorkContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 10px;
        }
    }
}

@include media-queries(large) {
    .portfolio {
        display: flex;
        flex-direction: column;
        background-color: rgb(38, 37, 37);
        color: white;
        font-size: 20px;

        & .portfolio__title {
            margin: 6vh;
            margin-left: auto;
            margin-right: auto;
        }

        & .porfolio__myWorkContainer {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: 10px;
        }
    }
}

.portfolio.white {
    border-top: 1px solid $first-main-font-color--white;
    background-color: $second-main-font-color--white;
    color: $third-main-color--white;
    transition: .7s;
}

.portfolio.black {
    border-top: 1px solid $third-main-color--dark;
    background-color: $third-main-color--dark;
    color: $first-main-color--dark;
    transition: .7s;
}