@include media-queries(xsmall) {
    .PortfolioItem {
        border-radius: 22px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2vh;

        & .isDeployed {
            opacity: .5;
            color: rgb(0, 0, 0);
            text-align: center;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 20px;
        }

        & img {
            border-radius: 22px;
            object-fit: cover;
            width: 100%;
            overflow: hidden;
            transition: .7s;
        }

        & img:hover {
            opacity: .7;
            transform: scale(.98);
        }

        & a {
            text-decoration: none;
            text-align: center;
            transition: .7s;
        }

        & a:hover {
            transform: scale(.95);
        }

    }
}

@include media-queries(large) {
    .porfolio__myWorkContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap !important;

        .PortfolioItem {
            border-radius: 22px;
            margin-left: 8vw;
            margin-right: 8vw;
            margin-bottom: 5vh;
            width: 33%;

            & img {
                border-radius: 22px;
                object-fit: cover;
                width: 100%;
                overflow: hidden;
                transition: .7s;
            }

            & img:hover {
                opacity: .7;
                transform: scale(.98);
            }

            & a {
                text-decoration: none;
                text-align: center;
                transition: .7s;
            }

            & a:hover {
                transform: scale(.95);
            }
        }
    }

}

.PortfolioItem.white {
    background-color: $second-font-color--white;
    color: $first-background-color--white;
}

.source.white {
    color: $first-font-color--white;
}

.PortfolioItem.black {
    background-color: $second-font-color--black;
    color: $first-background-color--black;
}

.source.black {
    color: $first-font-color--black;
}