.icons:hover .tooltiptext {
  visibility: visible;
}

// need style for mobile
.errorDataNotFound {
  height: 100vh;
  background: url("/images/jsonError.jpg");
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y: top;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(22, 20, 21);

  & h1 {
    color: rgb(230, 136, 136);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@include media-queries(xsmall) {
  .wellcomePage {
    height: 100vh;
    background: url("/images/wellcome_page_bg.jpg");
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(22, 20, 21);

    & .wellcomePage__banerText {
      color: white;
      text-align: left;
      padding-top: 30vh;
      margin: 0 10vw;
      color: #FFFFFF;
      text-shadow: 2px 2px 0 $first-main-font-color, 2px -2px 0 $first-main-font-color, -2px 2px 0 $first-main-font-color, -2px -2px 0 $first-main-font-color, 2px 0px 0 $first-main-font-color, 0px 2px 0 $first-main-font-color, -2px 0px 0 $first-main-font-color, 0px -2px 0 $first-main-font-color;

      & h1 {
        color: black;
        font-size: 1rem;
        margin-bottom: .5rem;
      }

      & h3 {
        color: black;
        font-size: .6rem;
        line-height: 1.2rem;
      }
    }

    & .icons {
      position: absolute;
      top: 80%;
      left: 80%;
      // transform: translate(-50%, -50%);

      & .icon__github {
        font-size: 2rem !important;
        color: white !important;
        transition: 1s;
      }

      & .icon__github:hover {
        color: rgb(88, 167, 165) !important;
      }
    }
  }
}

@include media-queries(large) {
  .wellcomePage {
    height: 100vh;
    background: url("/images/wellcome_page_bg.jpg");
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(22, 20, 21);

    & .wellcomePage__banerText {
      color: white;
      text-align: center;
      padding: 200px;

      & h1 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
      }

      & h3 {
        font-size: .8rem;
        line-height: 1.2rem;
      }
    }

    & .icons {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);

      & .icon__github {
        font-size: 2rem !important;
        color: white !important;
        transition: 1s;
      }

      & .icon__github:hover {
        color: rgb(88, 167, 165) !important;
      }
    }
  }
}