@import "./style/colors.scss";
@import "./style/brakePoints.scss";
@import "./style/customScrollbar.scss";
@import "./style/Header.scss";
@import './style//WellcomePage.scss';
@import './style/About.scss';
@import './style/Form.scss';
@import './style/Portfolio.scss';
@import './style/Footer.scss';

:root {
  cursor: url(/images/cursors/coursor.png),
    auto !important;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.arrow {
  display: block;
  color: pink;
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MuiSvgIcon-root {
  border: 1px solid !important;
  border-radius: 50% !important;
  font-size: 50px !important;
}

.MuiSvgIcon-root:hover {
  cursor: url(/images/cursors/pointer.png), auto !important;
}

.section {
  border-top: 1px solid black;
}